#container_principal .banner .conteudo p{
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white; /* Opcional: efeito de cursor */
    animation: typing 3s steps(40, end) forwards;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}