@media (max-width: 768px) {

    /* #region Header */
    #container_cabeçalho .menu_principal ul {
        flex-direction: column;
        align-items: center;
    }

    #container_cabeçalho .menu_principal li:last-child a {
        margin: 1em 0;
        border: none;
    }

    /* Estilo das linhas do hamburger */
    #container_cabeçalho label span.line_top,
    #container_cabeçalho label span.line_center,
    #container_cabeçalho label span.line_bottom {
        display: block;
        background-color: white;
        width: 30px;
        height: 4px;
        margin: 6px auto;
        transition: all 0.3s ease-in-out;
    }

    /* Hamburger vira X */
    #toggle_menu_principal:checked + label span.line_top {
        transform: translateY(10px) rotate(45deg);
    }

    #toggle_menu_principal:checked + label span.line_center {
        opacity: 0;
    }

    #toggle_menu_principal:checked + label span.line_bottom {
        transform: translateY(-10px) rotate(-45deg);
    }

    /* Menu principal com animação */
    #container_cabeçalho .menu_principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #000000a8;
        position: absolute;
        width: 50%;
        right: 0;
        top: 100%;
        z-index: 1000;
        padding: 1em 0;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: all 0.4s ease;
        border-bottom-left-radius: 20px;
        

    }

    #toggle_menu_principal:checked ~ .menu_principal {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    /* #endregion Header */

    /* #region Main */
    #container_principal .conteudo .contatos_nav ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    /* #endregion Main */

    #container_principal .banner .conteudo p {
        animation: none;
    }
}

#toggle_menu_principal {
    display: none;
}
